.image-container {
    width: 300px; /* Задайте желаемую ширину и высоту для контейнера изображения */
    height: 200px;
    overflow: hidden; /* Обрезаем изображение, чтобы оно не выходило за пределы контейнера */
  }
  
  .zoom-on-hover {
    width: 100%; /* Сделаем изображение занимающим всю ширину контейнера */
    transition: transform 0.3s ease; /* Добавляем плавный переход для плавного эффекта увеличения */
  }
  
  .zoom-on-hover:hover {
    transform: scale(1.2); /* Увеличиваем изображение при наведении */
  }