.Total {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  .total_txt{
    margin-bottom: 20px;
  }
  .total_tit{
    margin-bottom: 20px;
  }