.AddToCart button {
  padding: 2px 10px;
  margin-right: 5px;
  background-color:White;
  border: none;
  color:black;
  border-radius: 5px;
  font-family: inherit;
  transition: all 100ms linear;
 
 justify-content: center;

}
.AddToCart button:hover {
  background-color: grey;
}.AddToCart{
  flex-wrap: nowrap;
  align-items: center;
}
