.Product {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.product-details {
  text-align: center; 
}

.product_img {
  max-width: 100%;
  height: auto; 
}


.pro{
  text-align: center;
}